.lim{
    text-align: center;
    font-size: 90px;
    font-style: italic;
}
.span{
    margin: 40px;
    width: 1000px;
    height: 60px;
    border-top: 1px solid black;
}
.h1{
    font-size: 30px;
    text-align: center;
    font-style: normal;
}